.themify_builder .text-140-0-0-1.module-text { font-family: PT Sans; font-size: 2.5em; text-align: center;  } 
.themify_builder .text-140-0-0-1.module-text h1 { font-family: PT Sans;  } 
.themify_builder .text-140-0-0-1.module-text h2 { font-family: PT Sans;  } 
.themify_builder .text-140-0-0-1.module-text h3:not(.module-title) { font-family: PT Sans;  } 
.themify_builder .text-140-0-0-1.module-text h4 { font-family: PT Sans;  } 
.themify_builder .text-140-0-0-1.module-text h5 { font-family: PT Sans;  } 
.themify_builder .text-140-0-0-1.module-text h6 { font-family: PT Sans;  } 
.themify_builder .text-140-0-0-1.module.module-text h1 { font-family: Roboto;  } 
.themify_builder .plain-text-140-2-1-1.module-plain-text { margin-top: 1em;  } 
.themify_builder .plain-text-140-2-1-2.module-plain-text { margin-top: 1em;  } 
